:root {
    --standard-text-color: black;
    --standard-margin: 12px;

}

body {
    max-width: 100ch;
    margin: 72px auto;
    font-size: 16px;
    line-height: 1.375;
}

strong {
    font-weight: bold;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1.5rem 0;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1.25rem 0;
}

p {
    margin-bottom: 1rem;
}

button {
    z-index: 99; 
    border: none; 
    outline: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;

    color: white;
    background-color: #555;
}

button:hover {
    background-color: dodgerblue !important;
}

.page_list {
    columns: 3;
}

table {
    margin-left: -12px;
}

table * {
    text-align: start;
}

th {
    background-color: #eee;
    border-radius: 6px;
    border: 1px solid white;
    padding: 3px 12px;
    width: 20ch;
}

td {
    padding: 0 12px;
}

.page_list_container {
    margin: 0 16px;
}

ol {
    list-style-type: disc;
}



@media screen and (max-width: 768px) {
  /* CSS rules for screens with a maximum width of 768px (e.g., tablets and mobiles) */
    body {
            max-width: none;
            padding: 12px;
    }

    .page_list {
        columns: 1;
    }

}