:root {
    --standard-margin: 12px;

    --display-hdr: none;
    --display-notes: inherit;
    --display-del: inline-block; /* none or inline-block */

    --ref-color: magenta;
    --sub-color: blue;
    --add-color: red; 
    --del-color: green;
    --note-color: #aaa;
    --hdr-color: #aaa;

}


body {
    max-width: 100ch;
    margin: 72px auto;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.375;
}

main {
    margin-top: 72px;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

hr {
    border-width: 0.25px;
}

label {
    display: inline-block;
}

td + td {
    padding: 0 16px;
}


brk {
    /* this is used by specsintact instead of <br /> line breaks */
    display: block;
    margin-bottom: var(--standard-margin);
}

scn,
stl,
dte,
ast,
npr,
nte,
ttl,
org,
spt {
    display: block;
    margin-bottom: var(--standard-margin);
}

url {
    color: blue;
    border-bottom: 1px solid blue;
}

lst {
    display: block;
}

lst sub {
    color: black;
}

itm {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

hdr {
    color: grey;
    display: var(--display-hdr);
}

ast {
    color: grey
}

scn,
stl,
dte {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

dte {
    margin-bottom: 72px;
    font-size: 20px;
}

ttl {
    font-weight: bold;
    margin-top: var(--standard-margin);
}

npr,
nte,
ast {
    color: var(--note-color);
    display: none;
}

ref org {
    display: block;
    font-weight: bold;
    margin-top: var(--standard-margin);
}

rid {
    font-weight: normal;
    color: var(--ref-color);
}

ref br {
    display: block;
}

ref org + br {
    display: none;
}

del, add {
    display: inline;
}

del {
    display: var(--display-del);
    color: var(--del-color);
}

ttl {
    font-size: 18px;
    margin-bottom: 18px;
}

add {
    color: var(--add-color);
}

sub {
    /* specsintact overrides the standard sub tag for 'submittals' */
    color: var(--sub-color);
    font-weight: bold;
    vertical-align: baseline;
    font-size: 16px;
}

lst sub {
    display: block;
    margin: var(--standard-margin) 0;
}

met {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}

eng {
    background-color: tomato;
    color: white;
    font-weight: bold;
}



.user-selections {
    top: 0;
    position: fixed;
    display: block;

    background-color: aliceblue;
    border: 1px solid dodgerblue;
    
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;  

    margin: -24px;
    padding: 24px;
    padding-bottom: 0;
    padding-top: 36px;
    margin-top: -24px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.user-instructions {
    width: calc(8in + 2 * var(--standard-margin));
    margin-bottom: 12px;
}

.user-instructions p {
    margin-bottom: 12px;
}

.user-table-container {
    overflow: auto;
}





.display_NTE,
.display_NPR {
    display: none;
    color: orange;
    background-color: rgb(235, 211, 166);
}

.display_ENG,
.display_MET {
    display: none;
    font-weight: bold;
}

.display_ENG {
    background-color: rgb(255, 176, 147);
    font-weight: bold;
}

.display_MET {
    background-color: rgb(136, 195, 255);
    font-weight: bold;
}

.display_RID {
    background-color: magenta;
    color: white;
    font-weight: bold;
    display: none;
}

.display_DEL {
    background-color: green;
    color: white;
    font-weight: bold;
    display: none;
}

.display_ADD {
    background-color: red;
    color: white;
    font-weight: bold;
    display: none;
}

.display_AST {

}

.display_DTE {

}

.display_HDR {

}

.display_HL1 {

}

.display_HL4 {

}

.display_ITM {

}

.display_LST {

}

.display_ORG {

}

.display_PRT {

}

.display_REF {

}

.display_RID {

}

.display_RTL {

}

.display_SCN {

}

.display_SCP {

}

.display_SPT {

}

.display_SRF {

}

.display_STL {

}

.display_SUB {

}

.display_TAB {

}

.display_TAI {

}

.display_TST {

}

.display_TTL {

}

.display_TXT {

}

.display_URL {

}


.brackets {
    background-color: yellow;
    display: inline;
}












button {
    z-index: 99; 
    border: none; 
    outline: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;

    color: white;
    background-color: #555;
}

#menuBtn {
    display: block; 
    position: fixed; 
    bottom: 20px; 
    right: 30px;
}

#hideBtn {
    display: block;
    margin: 16px auto;

    border: none; 
    outline: none; 
    background-color: rgba(30, 143, 255, 0.2);

    padding: 6px; 
    border: 1px solid dodgerblue;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 120px;
    z-index: 99; 

    background-color: #555;
    color: white;

    padding: 12px; 
    border-radius: 10px;
    font-size: 18px;
}

#topBtn:hover,
#menuBtn:hover {
    background-color: dodgerblue;
}









@media screen and (max-width: 768px) {
  /* CSS rules for screens with a maximum width of 768px (e.g., tablets and mobiles) */
    body {
            max-width: none;
            padding: 12px;
    }

    .user-selections {
        top: 5vh;
        left: 5vw;
        position: fixed;
        display: block;

        margin: 0;
        padding: 12px;

        max-width: none;
        height: 90dvh;
        width: 90dvw;

        border: 1px solid dodgerblue;
        
        border-radius: 12px;
    }   

    .user-instructions {
        width: calc(90dvw - 2 * var(--standard-margin));
        margin-bottom: 0;
    }

    .user-table-container {
        overflow-y: auto;
        overflow-x: auto;
    }

}