

/* The following is a list of all native SpecsIntact .sec file <TAG> names */

/* 
ADD,
ALN,
AST,
BRK,
BRL,
CEL,
COL,
DEL,
DTA,
DTE,
END,
ENG,
HDR,
HL1,
HL4,
ITM,
LST,
MET,
MTA,
NED,
NPR,
NTE,
ORG,
PRA,
PRT,
REF,
RID,
ROW,
RTL,
SCN,
SCP,
SEC,
SPT,
SRF,
STL,
STS,
STY,
SUB,
TAB,
TDA,
TST,
TTL,
TXT,
URL,
WBK 
*/



.display_NPR {
    display: block;
    color: orange;
    background-color: rgb(235, 211, 166);
}